.container {
  background-color: #1e1e1e;
  color: #eaeaea;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  color: #eaeaea;
  background-color: #2d2d2d;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 15px 15px;
  background-color: #2d2d2d;
}

.navbar a:hover {
  background-color: #1e1e1e;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: table;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.longCard {
  display: table-cell;
  margin: 1px;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 800px;
}

.shortCard {
  display: table-cell;
  margin: 1px;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 398px;
}

.card1:hover,
.card1:focus,
.card1:active {
  color: #d7ac57;
  border-color: #d7ac57;
}

.card2:hover,
.card2:focus,
.card2:active {
  color: #9cdcfe;
  border-color: #9cdcfe;
}

.card3:hover,
.card3:focus,
.card3:active {
  color: #ce9178;
  border-color: #ce9178;
}

.card4:hover,
.card4:focus,
.card4:active {
  color: #b5cea8;
  border-color: #b5cea8;
}

.card5:hover,
.card5:focus,
.card5:active {
  color: #c586c0;
  border-color: #c586c0;
}

.longCard h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.longCard p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.img {
  border: 1px solid #eaeaea;
  max-width: 800px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
