.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
  flex-wrap: wrap;
  color: #eaeaea;
}

.downloadButton {
  display: flex;
  align-items: center;
  border: 1px solid #eaeaea;
  border-radius: 0.75rem;
  background-color: #2d2d2d;
  box-shadow: none;
  width: auto;
  padding: 0.5rem, 0.75rem;
  transform: translateY(-0.75rem); 
}

.downloadButton > :last-child {
  margin-right: 0.75rem;
}

.downloadText {
  font-size: 1.2rem;
  color: #eaeaea;
  padding-left: 0.75rem; 
  padding-right: 0.5rem; 
}

.iconDivider {
  width: 1px;
  height: 3rem;
  background-color: #eaeaea;
  margin: 0 0.5rem;
}

.jobDesc {
    display: table-cell;
    margin: 1.5rem;
    padding: 1.5rem;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 0.75rem;
    background-color: #2d2d2d;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 90%;
    min-width: 75%;

    &>h1 {
        margin-bottom: 0rem;
    }
}

.bulletGroup {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  position: relative;
}

.bulletWrapper {
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.bulletPoint {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #eaeaea;
  transform: translateY(14px);
  z-index: 1;
}

.bulletLine {
  position: absolute;
  top: 28px; /* starts just below first bullet */
  height: 44px; /* ends at bottom bullet */
  width: 2px;
  transform: translatex(2px);
  background-color: #aaa;
}

.bulletContent {
  padding-left: 8px;
}

.bulletContent h2 {
  margin: 0;
}

.date {
  margin: 0;
  padding-left: 0;
  font-size: 0.9rem;
  color: #aaa;
}

.card1:hover,
.card1:focus,
.card1:active {
    border-color: #d7ac57;

    &>h1 {
        color: #d7ac57;
    }
}

.card2:hover,
.card2:focus,
.card2:active {
    border-color: #9cdcfe;

    &>h1 {
        color: #9cdcfe;
    }
}

.card3:hover,
.card3:focus,
.card3:active {
    border-color: #ce9178;

    &>h1 {
        color: #ce9178;
    }
}

.card4:hover,
.card4:focus,
.card4:active {
    border-color: #b5cea8;

    &>h1 {
        color: #b5cea8;
    }
}

.card5:hover,
.card5:focus,
.card5:active {
    border-color: #c586c0;

    &>h1 {
        color: #c586c0;
    }
}